/* =============================================================================
   Media screen
   ========================================================================== */
/* =============================================================================
   980px
   ========================================================================== */
@media screen and (max-width: 980px) {
    body {
        background: none repeat 0 0 transparent;
    }
}
/* =============================================================================
   800px
   ========================================================================== */
@media screen and (max-width: 800px) {
    body {
        background: none repeat 0 0 transparent;
    }
}
/* =============================================================================
   768px
   ========================================================================== */
@media screen and (max-width: 768px) {
    body {
        background: none repeat 0 0 transparent;
    }
}
/* =============================================================================
   640px
   ========================================================================== */
@media screen and (max-width: 640px) {
    body {
        background: none repeat 0 0 transparent;
    }
}
/* =============================================================================
   480px
   ========================================================================== */
@media screen and (max-width: 480px) {
    body {
        background: none repeat 0 0 transparent;
    }
}

/* =============================================================================
   320px
   ========================================================================== */
@media screen and (max-width: 320px) {
    body {
        background: none repeat 0 0 transparent;
    }
}
/* =============================================================================
   240px
   ========================================================================== */
@media screen and (max-width: 240px) {
    body {
        background: none repeat 0 0 transparent;
    }
}
/* =============================================================================
   END CSS Autor: Kharitonov Alexandr
   ========================================================================== */