<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>New Project</title>
    <meta name="description" content="New Project">
    <meta name="keywords" content="New Project">
    <meta name="author" content="Romanova">

    <!-- normalize css -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/jquery.bxslider.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- jquery -->
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>

    <!--[if IE]><script type="text/javascript" src="css/PIE/PIE.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie/style-for-8.css"><script src="js/ie8fix.js"></script><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="css/ie/style-for-9.css"><script src="js/ie9fix.js"></script><![endif]-->
    <!-- fonts css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href="css/fonts/fonts.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- custom js -->
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/script.js"></script>




</head>
<body>
	<header>
    	<div class="wrapper">
            <div class="clearfix">                
                <div class="logo">
                    <a href="#">
                        <div><img src="images/logo.png" alt=""></div>
                        <div class="logo_capt">Фирменный  интернет-магазин Gipfel</div>
                    </a>
                </div>
                <div class="header_left">
                    <div class="header_phone_block">
                        <div class="header_phone_city">Москва:</div>
                        <div class="header_phone">+7 (495) <span>222-15-15</span></div>
                    </div>
                    <div class="header_phone_block">
                        <div class="header_phone_city">Санкт-Петербург:</div>
                        <div class="header_phone">+7 (911) <span>924-40-34</span></div>
                    </div>
                    <div class="search">
                        <input type="text" class="search_text" placeholder="Поиск товаров">
                        <input type="submit" value="" class="search_submit">
                    </div>
                </div>
                <div class="header_mid">
                    <div class="header_time">
                        <div class="header_time_title">МЫ РАБОТАЕМ:</div>
                        ПН.-СБ.: с 9:00 до 20:00<br/>ВС.: выходной
                    </div>
                    <div class="header_mail"><a href="#">info@gipfel-group.ru</a></div>
                </div>
                <div class="cart_block">
                    <div class="cart_top">                    
                        <div class="cart_block_title">Ваша корзина:</div>
                        <div class="cart_block_price"><span>15 999</span> руб.</div>  
                    </div>
                    <div class="cart_block_mid">
                        <div class="cart_block_link"><a href="#">оформить заказ</a></div>
                        <div class="cart_block_count"><a href="#">12</a></div>
                    </div>
                    <div class="cart_block_bottom">
                       Ваши Товары в Корзине!
                    </div>
                </div>
            </div>
    	</div> 
	</header>

    <nav>
        <div class="wrapper">
            <ul class="menu">
                <li class="menu_item catalog_menu">
                    <a href="#">Каталог товаров</a>
                    <ul class="cathegories menu_inner">
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/22.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Наборы посуды</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/6.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Фондю</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/12.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Наборы для барбекю</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/18.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Все для бара</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/1.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Металлическая посуда</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/7.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Доски разделочные</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/13.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Дорожные приборы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/19.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Весы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/2.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Антипригарная посуда</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/8.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Контейнеры</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/14.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Хлебницы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/20.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Товары для дома</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/3.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Посуда из чугуна</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/9.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Наборы для специй</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/15.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Для духовки</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/21.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Аксессуары</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/4.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Посуда для чая и кофе</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/10.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Столовые приборы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/16.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Мармиты</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu_item first"><a href="#">О компании</a></li>
                <li class="menu_item"><a href="#">Новости</a></li>
                <li class="menu_item"><a href="#">Статьи</a></li>
                <li class="menu_item"><a href="#">Новинки</a></li>
                <li class="menu_item"><a href="#">Акции</a></li>
                <li class="menu_item"><a href="#">Доставка и оплата</a></li>
                <li class="menu_item"><a href="#">гарантия</a></li>
                <li class="menu_item"><a href="#">Отзывы</a></li>
                <li class="menu_item"><a href="#">Контакты</a></li>
            </ul>
        </div>
    </nav>

    <div class="slider">
        <ul class="bx-slider">
            <li style="background-image:url('images/slider/1.jpg')">
                <div class="slide_cont">                
                    <div class="slide_title">GIPfEL</div>
                    <div class="slide_hr"></div>
                    <div class="slide_text">
                        <div class="slide_subtitle">НАБОР ПОСУДЫ CANTATA 10 ПРЕДМЕТОВ</div>
                        ковш с крышкой 16 х 9 см - 1,8 л<br/>
                        кастрюля с крышкой 16 х 9 см - 1,8 л<br/>
                        кастрюля с крышкой 18 х 10 см - 2,5 л<br/>
                        кастрюля с крышкой 20 х 12 см - 3,7 л<br/>
                        кастрюля с крышкой 24 х 14 см - 6,3 л
                    </div>
                    <div class="slide_bottom">
                        <div class="slide_price">14 999 <span>руб</span></div>
                        <a href="#" class="slide_button">купить сейчас</a>
                    </div>
                </div>
            </li>
            <li style="background-image:url('images/slider/2.jpg')"></li>
            <li style="background-image:url('images/slider/3.jpg')">
                <div class="slide_cont">                
                    <div class="slide_title">GIPfEL</div>
                    <div class="slide_hr"></div>
                    <div class="slide_text">
                        <div class="slide_subtitle">НАБОР ПОСУДЫ MINESTRONE 7 ПРЕДМЕТОВ</div>
                        кастрюля 20х9,5 см / 2,8 л<br/>
                        кастрюля 24х11,5 см / 4,6 л <br/>
                        кастрюля 28х19 см / 11,8 л<br/>
                        половник 30 см<br/>
                        индукционное дно<br/>
                        нержавеющая сталь<br/>
                        стеклянные крышки<br/>
                        полировка матовая с зеркальной полосой 
                    </div>
                </div>
            </li>
            <li style="background-image:url('images/slider/4.jpg')"></li>
            <li style="background-image:url('images/slider/5.jpg')"></li>
            <li style="background-image:url('images/slider/6.jpg')"></li>
            <li style="background-image:url('images/slider/7.jpg')"></li>
            <li style="background-image:url('images/slider/8.jpg')"></li>
        </ul>
    </div>
    
    <div class="advantages">
        <div class="wrapper">
            <ul class="advantages_list">
                <li class="advantages_list_item">
                    <div class="advantages_list_item_image">
                        <img src="images/icons/a1.png" alt="">
                    </div>
                    <div class="advantages_list_item_title">Бесплатная доставка</div>
                    <div class="advantages_list_item_text">во все регионы России</div>
                </li>
                <li class="advantages_list_item">
                    <div class="advantages_list_item_image">
                        <img src="images/icons/a2.png" alt="">
                    </div>
                    <div class="advantages_list_item_title">ЛУчшие цены</div>
                    <div class="advantages_list_item_text">наши цены ниже, чем <br/>у конкурентов</div>
                </li>
                <li class="advantages_list_item">
                    <div class="advantages_list_item_image">
                        <img src="images/icons/a3.png" alt="">
                    </div>
                    <div class="advantages_list_item_title">Посуда из германии</div>
                    <div class="advantages_list_item_text">оригинальная посуда <br/>от производителя</div>
                </li>
                <li class="advantages_list_item">
                    <div class="advantages_list_item_image">
                        <img src="images/icons/a4.png" alt="">
                    </div>
                    <div class="advantages_list_item_title">100% гарантия качества</div>
                    <div class="advantages_list_item_text">вся продукция имеет<br/>сертефикат качества</div>
                </li>
                <li class="advantages_list_item">
                    <div class="advantages_list_item_image">
                        <img src="images/icons/a5.png" alt="">
                    </div>
                    <div class="advantages_list_item_title">Гарантия 12 месяцев</div>
                    <div class="advantages_list_item_text">на всю посуду</div>
                </li>
            </ul>
        </div>
    </div>

    <div id="content">
    	<div class="wrapper">
            <h1 class="page_title">Каталог товаров</h1>
            <div class="page_title_capt">категории товаров нашего магазина</div>
            <ul class="cathegories">
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/1.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Металлическая посуда</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/2.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Антипригарная посуда</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/3.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Посуда из чугуна</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/4.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Посуда для чая и кофе</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/5.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Кофемолки</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/6.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Фондю</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/7.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Доски разделочные</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/8.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Контейнеры</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/9.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Наборы для специй</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/10.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Столовые приборы</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/11.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Ножи</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/12.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Наборы для барбекю</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/13.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Дорожные приборы</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/14.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Хлебницы</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/15.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Для духовки</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/16.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Мармиты</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/17.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Кухонные инструменты</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/18.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Все для бара</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/19.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Весы</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/20.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Товары для дома</div>
                    </a>
                </li>
                <li>
                    <a href="#">
                        <div class="cathegories_image">
                            <img src="images/data/cathegories/21.jpg" alt="">
                        </div>
                        <div class="cathegories_title">Аксессуары</div>
                    </a>
                </li>
            </ul>

            <div class="sales">
                <div class="sales_block pan">
                    <a href="#">                        
                        <img src="images/data/sale1.jpg" alt="">
                        <div class="sales_block_inner">
                            <div class="sales_block_title"><span>Кастрюли Gipfel</span></div>
                            <div class="sales_block_persent">-30%</div>
                            <div class="sales_block_text">на каждую вторую кастрюлю</div>
                        </div>
                    </a>
                </div>
                <div class="sales_block action">
                    <a href="#">
                        <img src="images/data/sale2.jpg" alt="">
                        <div class="sales_block_inner">
                            <div class="sales_block_title"><span>Акция</span></div>
                            <div class="sales_block_text">Сковорода для блинов VIOLONCELO
                            <br/>+ книга рецептов в <strong>подарок!</strong></div>
                        </div>
                    </a>
                </div>
                <div class="sales_block spec">
                    <a href="#">
                        <img src="images/data/sale1.jpg" alt="">
                        <div class="sales_block_inner">
                            <div class="sales_block_title"><span>Спецпредложение</span></div>
                            <div class="sales_block_text">Доска для нарезки сыра</div>
                            <div class="sales_block_price">2 999 <span>руб</span></div>
                        </div>
                    </a>
                </div>
            </div>

            <div class="bestsellers">
                <div class="page_title">Бестселлеры</div>
                <div class="page_title_capt">Лидеры продаж посуды Gipfel</div>

                <ul class="bestsellers_list">
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <img src="images/data/1.jpg" alt="">
                        </div>
                        <div class="bestsellers_item_title">1544 НАБОР ПОСУДЫ TRIUMPH 8 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">6 899 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <img src="images/data/2.jpg" alt="">
                        </div>
                        <div class="bestsellers_item_title">1538 НАБОР ПОСУДЫ CANTATA 10 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">15 425 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <img src="images/data/3.jpg" alt="">
                        </div>
                        <div class="bestsellers_item_title">1542 НАБОР ПОСУДЫ TRIUMPH 10 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">8 999 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>

                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <img src="images/data/1.jpg" alt="">
                        </div>
                        <div class="bestsellers_item_title">1544 НАБОР ПОСУДЫ TRIUMPH 8 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">6 899 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <img src="images/data/2.jpg" alt="">
                        </div>
                        <div class="bestsellers_item_title">1538 НАБОР ПОСУДЫ CANTATA 10 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">15 425 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <img src="images/data/3.jpg" alt="">
                        </div>
                        <div class="bestsellers_item_title">1542 НАБОР ПОСУДЫ TRIUMPH 10 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">8 999 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
        <div class="news_block">
            <div class="wrapper">                
                <div class="page_title">Новости</div>
                <div class="page_title_capt">Наши последние новости и обьявления</div>
                <div class="news_list">
                    <div class="news_list_item">
                        <div class="news_list_item_date">3 / 07 /2014</div>
                        <div class="news_list_item_title">Официальное Открытие нашего сайта</div>
                        <div class="news_list_item_text">Поздравляем всех с открытием нашего нового сайта. Удобно, красиво и дешего. Наши консультанты ответят на все ваши вопросы</div>
                        <a href="#" class="news_list_item_more">Подробнее</a>
                    </div>
                    <div class="news_list_item">
                        <div class="news_list_item_date">3 / 07 /2014</div>
                        <div class="news_list_item_title">Официальное Открытие нашего сайта</div>
                        <div class="news_list_item_text">Поздравляем всех с открытием нашего нового сайта. Удобно, красиво и дешего. Наши консультанты ответят на все ваши вопросы</div>
                        <a href="#" class="news_list_item_more">Подробнее</a>
                    </div>
                    <div class="news_list_item">
                        <div class="news_list_item_date">3 / 07 /2014</div>
                        <div class="news_list_item_title">Официальное Открытие нашего сайта</div>
                        <div class="news_list_item_text">Поздравляем всех с открытием нашего нового сайта. Удобно, красиво и дешего. Наши консультанты ответят на все ваши вопросы</div>
                        <a href="#" class="news_list_item_more">Подробнее</a>
                    </div>
                    <div class="news_list_item">
                        <div class="news_list_item_date">3 / 07 /2014</div>
                        <div class="news_list_item_title">Официальное Открытие нашего сайта</div>
                        <div class="news_list_item_text">Поздравляем всех с открытием нашего нового сайта. Удобно, красиво и дешего. Наши консультанты ответят на все ваши вопросы</div>
                        <a href="#" class="news_list_item_more">Подробнее</a>
                    </div>
                </div>
            </div>
        </div>

        <div  class="wrapper">    
            <div class="home_info">                
                <div class="page_title">Gipfel international</div>
                <div class="page_title_capt">интернет-магазин посуды</div>
                <div class="home_info_block clearfix">
                    <div class="home_info_left">
                        <img src="images/data/gipfel.jpg" alt="">
                    </div>
                    <div class="home_info_right">
                        <p>
                            Интернет-магазин Gipfel представляет Вам невероятно большой 
                            ассортимент посуды из высококачественных сплавов от 
                            производителя Гипфел. На Ваш выбор предлагается кухонная 
                            утварь марки Gipfel из алюминия, нержавеющей стали, чугуна, 
                            стекла и даже дерева.
                        </p>
                        <p>
                            Среди прочих кухонных принадлежностей представлены кастрюли, 
                            сковороды, сотейники, ковши из нержавеющей стали. 
                            Производитель выпускает широкий ассортимент посуды с 
                            антипригарным покрытием и многослойным дном, изготовленной 
                            из литого алюминия, а также чугунную посуду.
                        </p>
                        <p>
                            Мы предлагаем большое разнообразие наборов для фондю и 
                            барбекю, соковыжималки, кофемолки, терки, ножи и другие 
                            столовые инструменты, контейнеры для еды, а также аксессуары 
                            от Гипфел.
                        </p>
                        <p>
                            Посуда Gipfel прекрасно подходит для любы видов плит - 
                            газовых, керамических, электрических.
                        </p>
                        <p>
                            Вся продукция от компании Gipfel - это идеал качества и 
                            неповторимого дизайна, всегда отвечающая самым высоким 
                            требованиям потребителей. Если Вы ищете полезный и в то же 
                            время оригинальный подарок, или Вам нужна надёжная и 
                            функциональная посуда, предлагаем Вашему вниманию 
                            качественную посуду Gipfel, на протяжении многих лет 
                            лидирующую на рынке, с помощью которой становится возможным 
                            любое блюдо превратить в истинный кулинарный шедевр! Кроме 
                            того, соотношение цены и качества этой продукции также не 
                            имеет равных.
                        </p>
                    </div>
                </div>
            </div>

        </div>
    </div>
    
 	<footer>
        <div class="footer_top">    
            <div class="wrapper clearfix">                            
                <div class="header_phone_block">
                    <div class="header_phone_city">Москва:</div>
                    <div class="header_phone">+7 (495) <span>222-15-15</span></div>
                </div>

                <div class="header_phone_block">
                    <div class="header_phone_city">Санкт-перетбург:</div>
                    <div class="header_phone">+7 (911) <span>924-40-34</span></div>
                </div>
                <div class="header_time">
                    <span>ПН.-СБ.:</span> с 9:00 до 20:00<br/><span>ВС.:</span> выходной
                </div>
                <div class="adress">                       
                    Москва, ул. Пушкина 15, оф. 201<br/>
                    <a href="#">info@gipfel-group.ru</a>
                </div>
            </div>
        </div>
		<div class="wrapper">
            <div class="footer_bottom clearfix">                
                <div class="footer_copyright">2016 © GIPFEL-Group</div>
                <ul class="footer_menu">
                    <li class="footer_menu_item"><a href="#">Каталог продукции</a></li>
                    <li class="footer_menu_item"><a href="#">О компании </a></li>
                    <li class="footer_menu_item"><a href="#">Новости </a></li>
                    <li class="footer_menu_item"><a href="#">Статьи </a></li>
                    <li class="footer_menu_item"><a href="#">Новинки </a></li>
                    <li class="footer_menu_item"><a href="#">Акции </a></li>
                    <li class="footer_menu_item"><a href="#">Доставка и оплата </a></li>
                    <li class="footer_menu_item"><a href="#">гарантия </a></li>
                    <li class="footer_menu_item"><a href="#">Отзывы </a></li>
                    <li class="footer_menu_item"><a href="#">Контакты</a></li>
                </ul>
            </div>
     	</div> 
	 </footer>

     <a href="#" class="gotop"></a>
</body>
</html>