<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>New Project</title>
    <meta name="description" content="New Project">
    <meta name="keywords" content="New Project">
    <meta name="author" content="Romanova">

    <!-- normalize css -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/jquery.bxslider.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- jquery -->
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>

    <!--[if IE]><script type="text/javascript" src="css/PIE/PIE.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie/style-for-8.css"><script src="js/ie8fix.js"></script><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="css/ie/style-for-9.css"><script src="js/ie9fix.js"></script><![endif]-->
    <!-- fonts css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href="css/fonts/fonts.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- custom js -->
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/script.js"></script>




</head>
<body>
	<header>
    	<div class="wrapper">
            <div class="clearfix">                
                <div class="logo">
                    <a href="#">
                        <div><img src="images/logo.png" alt=""></div>
                        <div class="logo_capt">Фирменный  интернет-магазин Gipfel</div>
                    </a>
                </div>
                <div class="header_left">
                    <div class="header_phone_block">
                        <div class="header_phone_city">Москва:</div>
                        <div class="header_phone">+7 (495) <span>567-66-00</span></div>
                    </div>
                    <div class="header_phone_block">
                        <div class="header_phone_city">Санкт-перетбург:</div>
                        <div class="header_phone">+7 (911) <span>567-66-00</span></div>
                    </div>
                    <div class="search">
                        <input type="text" class="search_text" placeholder="Поиск товаров">
                        <input type="submit" value="" class="search_submit">
                    </div>
                </div>
                <div class="header_mid">
                    <div class="header_time">
                        <div class="header_time_title">МЫ РАБОТАЕМ:</div>
                        ПН.-СБ.: с 9:00 до 21:00<br/>ВС.: выходной
                    </div>
                    <div class="header_mail"><a href="#">info@gipfel-group.ru</a></div>
                </div>
                <div class="cart_block">
                    <div class="cart_top">                    
                        <div class="cart_block_title">Ваша корзина:</div>
                        <div class="cart_block_price"><span>15 999</span> руб.</div>  
                    </div>
                    <div class="cart_block_mid">
                        <div class="cart_block_link"><a href="#">оформить заказ</a></div>
                        <div class="cart_block_count"><a href="#">12</a></div>
                    </div>
                    <div class="cart_block_bottom">
                        В корзине лежит ПОДАРОК!
                    </div>
                </div>
            </div>
    	</div> 
	</header>

    <nav>
        <div class="wrapper">
            <ul class="menu">
                <li class="menu_item catalog_menu">
                    <a href="#">Каталог товаров</a>
                    <ul class="cathegories menu_inner">
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/22.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Наборы посуды</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/6.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Фондю</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/12.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Наборы для барбекю</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/18.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Все для бара</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/1.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Металлическая посуда</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/7.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Доски разделочные</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/13.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Дорожные приборы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/19.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Весы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/2.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Антипригарная посуда</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/8.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Контейнеры</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/14.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Хлебницы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/20.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Товары для дома</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/3.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Посуда из чугуна</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/9.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Наборы для специй</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/15.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Для духовки</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/21.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Аксессуары</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/4.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Посуда для чая и кофе</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/10.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Столовые приборы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/16.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Мармиты</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu_item first"><a href="#">О компании</a></li>
                <li class="menu_item"><a href="#">Новости</a></li>
                <li class="menu_item"><a href="#">Статьи</a></li>
                <li class="menu_item"><a href="#">Новинки</a></li>
                <li class="menu_item"><a href="#">Акции</a></li>
                <li class="menu_item"><a href="#">Доставка и оплата</a></li>
                <li class="menu_item"><a href="#">гарантия</a></li>
                <li class="menu_item"><a href="#">Отзывы</a></li>
                <li class="menu_item"><a href="#">Контакты</a></li>
            </ul>
        </div>
    </nav>
    
    <div id="content">
    	<div class="wrapper">
            <ul class="breadcrumbs">
                <li class="home"><a href="#">Главная</a></li>
                <li><span>Ваша корзина</span></li>
            </ul>
            <h1 class="product_title">ВАША КОРЗИНА</h1>
            <form>
                <div class="cart_table">
                    <div class="cart_table_item title_row">
                        <div class="cart_table_item_product">
                            ТОВАР
                        </div>
                        <div class="cart_table_item_count">
                            Кол-во
                        </div>
                        <div class="cart_table_item_price">
                            Цена
                        </div>
                        <div class="cart_table_item_total">
                            СУММА
                        </div>
                        <div class="cart_table_item_options">
                            Действие
                        </div>
                    </div>
                    <div class="cart_table_item">
                        <div class="cart_table_item_product">
                            <div class="cart_table_item_product_photo">
                                <img src="images/data/7.jpg" alt="">
                            </div>
                            <div class="cart_table_item_product_info">
                                <div class="cart_table_item_product_info_title"><a href="#">1389 НАБОР ПОСУДЫ ALTA 10 ПРЕДМЕТОв</a></div>
                                <div class="cart_table_item_product_description">
                                    Код товара: 13483474<br/>Серия: ALTA
                                </div>
                            </div>
                        </div>
                        <div class="cart_table_item_count">
                            <div class="cart_table_item_count_input">
                                <input type="text" value="1">
                            </div>
                            <div class="cart_table_item_count_control">
                                <a href="#" class="cart_table_item_count_control_up"></a>
                                <a href="#" class="cart_table_item_count_control_down"></a>
                            </div>
                        </div>
                        <div class="cart_table_item_price">
                            6 899 руб.
                        </div>
                        <div class="cart_table_item_total">
                            6 899 руб.
                        </div>
                        <div class="cart_table_item_options">
                            <div><a href="#" class="product_fav">В закладки / отложить</a></div>
                            <div><a href="#" class="product_compare">Сравнить</a></div>
                            <div><a href="#" class="product_del">Удалить из списка</a></div>
                        </div>
                    </div>
                    <div class="cart_table_item">
                        <div class="cart_table_item_product">
                            <div class="cart_table_item_product_photo">
                                <img src="images/data/8.jpg" alt="">
                            </div>
                            <div class="cart_table_item_product_info">
                                <div class="cart_table_item_product_info_title"><a href="#">1535 НАБОР ПОСУДЫ MINESTRONE 7 ПРЕДМЕТОВ</a></div>
                                <div class="cart_table_item_product_description">
                                    Код товара: 13483474<br/>Серия: MINESTRONE
                                </div>
                            </div>
                        </div>
                        <div class="cart_table_item_count">
                            <div class="cart_table_item_count_input">
                                <input type="text" value="3">
                            </div>
                            <div class="cart_table_item_count_control">
                                <a href="#" class="cart_table_item_count_control_up"></a>
                                <a href="#" class="cart_table_item_count_control_down"></a>
                            </div>
                        </div>
                        <div class="cart_table_item_price">
                            12 599 руб.
                        </div>
                        <div class="cart_table_item_total">
                            37 797 руб.
                        </div>
                        <div class="cart_table_item_options">
                            <div><a href="#" class="product_fav">В закладки / отложить</a></div>
                            <div><a href="#" class="product_compare">Сравнить</a></div>
                            <div><a href="#" class="product_del">Удалить из списка</a></div>
                        </div>
                    </div>
                    <div class="cart_table_item">
                        <div class="cart_table_item_product">
                            <div class="cart_table_item_product_photo">
                                <img src="images/data/9.jpg" alt="">
                            </div>
                            <div class="cart_table_item_product_info">
                                <div class="cart_table_item_product_info_title"><a href="#">1389 НАБОР ПОСУДЫ ALTA 10 ПРЕДМЕТОв</a></div>
                                <div class="cart_table_item_product_description">
                                    Код товара: 13483474<br/>Серия: MINESTRONE
                                </div>
                            </div>
                        </div>
                        <div class="cart_table_item_count">
                            <div class="cart_table_item_count_input">
                                <input type="text" value="15">
                            </div>
                            <div class="cart_table_item_count_control">
                                <a href="#" class="cart_table_item_count_control_up"></a>
                                <a href="#" class="cart_table_item_count_control_down"></a>
                            </div>
                        </div>
                        <div class="cart_table_item_price">
                            12 150 руб.
                        </div>
                        <div class="cart_table_item_total">
                            182 250 руб.
                        </div>
                        <div class="cart_table_item_options">
                            <div><a href="#" class="product_fav">В закладки / отложить</a></div>
                            <div><a href="#" class="product_compare">Сравнить</a></div>
                            <div><a href="#" class="product_del">Удалить из списка</a></div>
                        </div>
                    </div>
                    <div class="cart_table_item">
                        <div class="cart_table_item_product">
                            <div class="cart_table_item_product_photo">
                                <img src="images/data/10.jpg" alt="">
                            </div>
                            <div class="cart_table_item_product_info">
                                <div class="cart_table_item_product_info_title"><a href="#">Ваш подарок-сюрприз от Gipfel оформите заказ и получите подарок</a></div>
                                <div class="cart_table_item_product_description">
                                    Бесплатный подарок
                                </div>
                            </div>
                        </div>
                        <div class="cart_table_item_count">
                            <span>1шт.</span>
                        </div>
                        <div class="cart_table_item_price">
                            бесплатно
                        </div>
                        <div class="cart_table_item_total">
                            бесплатно
                        </div>
                        <div class="cart_table_item_options">
                        </div>
                    </div>
                </div>
                <div class="cart_bottom">
                    <div class="cart_price_block">
                        ОБЩАЯ СУММА: <span class="cart_price">226 946<span>руб</span></span>
                    </div>
                    <div class="cart_deliv_price_block">
                        СТОИМОСТЬ ДОСТАВКИ: <span class="cart_deliv_price">200<span>руб</span></span>
                    </div>
                    <div class="cart_total_price_block">
                        <div class="cart_total_price_block_wrap">ИТОГО: <span class="cart_total_price">227 046<span>руб</span></span></div>
                    </div>
                    <div class="cart_bottom_buttons">                    
                        <a href="#" class="recount">ПЕРЕСЧИТАТЬ</a>
                        <a href="#" class="order_button">ОФОРМИТЬ ЗАКАЗ</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
    
 	<footer>
        <div class="footer_top">    
            <div class="wrapper clearfix">                            
                <div class="header_phone_block">
                    <div class="header_phone_city">Москва:</div>
                    <div class="header_phone">+7 (495) <span>567-66-00</span></div>
                </div>

                <div class="header_phone_block">
                    <div class="header_phone_city">Санкт-перетбург:</div>
                    <div class="header_phone">+7 (911) <span>567-66-00</span></div>
                </div>
                <div class="header_time">
                    <span>ПН.-СБ.:</span> с 9:00 до 21:00<br/><span>ВС.:</span> выходной
                </div>
                <div class="adress">                       
                    Москва, ул. Пушкина 15, оф. 201<br/>
                    <a href="#">info@gipfel-group.ru</a>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="footer_bottom clearfix">                
                <div class="footer_copyright">2014 © GIPFEL-Group</div>
                <ul class="footer_menu">
                    <li class="footer_menu_item"><a href="#">Каталог продукции</a></li>
                    <li class="footer_menu_item"><a href="#">О компании </a></li>
                    <li class="footer_menu_item"><a href="#">Новости </a></li>
                    <li class="footer_menu_item"><a href="#">Статьи </a></li>
                    <li class="footer_menu_item"><a href="#">Новинки </a></li>
                    <li class="footer_menu_item"><a href="#">Акции </a></li>
                    <li class="footer_menu_item"><a href="#">Доставка и оплата </a></li>
                    <li class="footer_menu_item"><a href="#">гарантия </a></li>
                    <li class="footer_menu_item"><a href="#">Отзывы </a></li>
                    <li class="footer_menu_item"><a href="#">Контакты</a></li>
                </ul>
            </div>
        </div> 
     </footer>


     <a href="#" class="gotop"></a>
</body>
</html>