<!doctype html>
<html lang="en-US">
<head>
    <meta charset="utf-8">
    <title>New Project</title>
    <meta name="description" content="New Project">
    <meta name="keywords" content="New Project">
    <meta name="author" content="Romanova">

    <!-- normalize css -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/jquery.bxslider.css">
    <!-- main css -->
    <link rel="stylesheet" href="css/style.css">
    <!-- jquery -->
    <script type="text/javascript" src="js/jquery-1.10.2.min.js"></script>

    <!--[if IE]><script type="text/javascript" src="css/PIE/PIE.js"></script><![endif]-->
    <!--[if lt IE 9]><script src="js/html5.js"></script><![endif]-->
    <!--[if IE 8]><link rel="stylesheet" href="css/ie/style-for-8.css"><script src="js/ie8fix.js"></script><![endif]-->
    <!--[if IE 9]><link rel="stylesheet" href="css/ie/style-for-9.css"><script src="js/ie9fix.js"></script><![endif]-->
    <!-- fonts css -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,800italic,400,600,700,800&subset=latin,cyrillic-ext,cyrillic' rel='stylesheet' type='text/css'>
    <link href="css/fonts/fonts.css" media="screen" rel="stylesheet" type="text/css" />
    <!-- custom js -->
    <script src="js/jquery.bxslider.min.js"></script>
    <script src="js/script.js"></script>




</head>
<body>
	<header>
    	<div class="wrapper">
            <div class="clearfix">                
                <div class="logo">
                    <a href="#">
                        <div><img src="images/logo.png" alt=""></div>
                        <div class="logo_capt">Фирменный  интернет-магазин Gipfel</div>
                    </a>
                </div>
                <div class="header_left">
                    <div class="header_phone_block">
                        <div class="header_phone_city">Москва:</div>
                        <div class="header_phone">+7 (495) <span>567-66-00</span></div>
                    </div>
                    <div class="header_phone_block">
                        <div class="header_phone_city">Санкт-перетбург:</div>
                        <div class="header_phone">+7 (911) <span>567-66-00</span></div>
                    </div>
                    <div class="search">
                        <input type="text" class="search_text" placeholder="Поиск товаров">
                        <input type="submit" value="" class="search_submit">
                    </div>
                </div>
                <div class="header_mid">
                    <div class="header_time">
                        <div class="header_time_title">МЫ РАБОТАЕМ:</div>
                        ПН.-СБ.: с 9:00 до 21:00<br/>ВС.: выходной
                    </div>
                    <div class="header_mail"><a href="#">info@gipfel-group.ru</a></div>
                </div>
                <div class="cart_block">
                    <div class="cart_top">                    
                        <div class="cart_block_title">Ваша корзина:</div>
                        <div class="cart_block_price"><span>15 999</span> руб.</div>  
                    </div>
                    <div class="cart_block_mid">
                        <div class="cart_block_link"><a href="#">оформить заказ</a></div>
                        <div class="cart_block_count"><a href="#">12</a></div>
                    </div>
                    <div class="cart_block_bottom">
                        В корзине лежит ПОДАРОК!
                    </div>
                </div>
            </div>
    	</div> 
	</header>

    <nav>
        <div class="wrapper">
            <ul class="menu">
                <li class="menu_item catalog_menu">
                    <a href="#">Каталог товаров</a>
                    <ul class="cathegories menu_inner">
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/22.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Наборы посуды</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/6.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Фондю</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/12.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Наборы для барбекю</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/18.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Все для бара</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/1.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Металлическая посуда</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/7.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Доски разделочные</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/13.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Дорожные приборы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/19.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Весы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/2.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Антипригарная посуда</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/8.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Контейнеры</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/14.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Хлебницы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/20.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Товары для дома</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/3.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Посуда из чугуна</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/9.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Наборы для специй</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/15.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Для духовки</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/21.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Аксессуары</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/4.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Посуда для чая и кофе</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/10.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Столовые приборы</div>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <div class="cathegories_image">
                                    <img src="images/data/cathegories/16.jpg" alt="">
                                </div>
                                <div class="cathegories_title">Мармиты</div>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="menu_item first"><a href="#">О компании</a></li>
                <li class="menu_item"><a href="#">Новости</a></li>
                <li class="menu_item"><a href="#">Статьи</a></li>
                <li class="menu_item"><a href="#">Новинки</a></li>
                <li class="menu_item"><a href="#">Акции</a></li>
                <li class="menu_item"><a href="#">Доставка и оплата</a></li>
                <li class="menu_item"><a href="#">гарантия</a></li>
                <li class="menu_item"><a href="#">Отзывы</a></li>
                <li class="menu_item"><a href="#">Контакты</a></li>
            </ul>
        </div>
    </nav>
    
    <div id="content">
    	<div class="wrapper">
            <a href="#" class="back">Вернуться к списку товаров</a>
            <ul class="breadcrumbs">
                <li class="home"><a href="#">Главная</a></li>
                <li><a href="#">Каталог товаров</a></li>
                <li><a href="#">Наборы посуды</a></li>
                <li><span>1538 НАБОР ПОСУДЫ CANTATA 10 ПРЕДМЕТОВ</span></li>
            </ul>
            <h1 class="product_title">1538 НАБОР ПОСУДЫ CANTATA 10 ПРЕДМЕТОВ</h1>
            <div class="product clearfix">
                <div class="product_left">
                    <div class="product_big_photo">
                        <img src="images/data/4.jpg" alt="">
                    </div>
                    <div class="product_photos">
                        <div class="product_small_photo active">
                            <a href="images/data/4.jpg"><img src="images/data/5.jpg" alt=""></a>
                        </div>
                        <div class="product_small_photo">
                            <a href="images/data/6.jpg"><img src="images/data/6.jpg" alt=""></a>
                        </div>
                        <div class="product_small_photo">
                            <a href="images/data/4.jpg"><img src="images/data/5.jpg" alt=""></a>
                        </div>
                        <div class="product_small_photo">
                            <a href="images/data/6.jpg"><img src="images/data/6.jpg" alt=""></a>
                        </div>
                    </div>
                </div>
                <div class="product_right">
                    <div class="warranty"></div>
                    <div class="product_code">
                        Код товара: 13483474<br/>Серия: CANTANA
                    </div>
                    <div class="product_status">есть в наличии</div>
                    <!--<div class="product_status not">нет в наличии</div>-->
                    <div class="product_price">13 759 <span>руб</span></div>
                    <div class="product_old_price">14 599 <span>руб</span></div>
                    <div class="product_options">
                        <a href="#" class="product_buy">купить</a>
                        <a href="#" class="product_fav">В закладки / отложить</a>
                        <a href="#" class="product_compare">Сравнить</a>
                    </div>
                    <div class="product_description">
                        <ul>
                            <li>ковш с крышкой 16 х 9 см - 1,8 л</li>
                            <li>кастрюля с крышкой 16 х 9 см - 1,8 л</li>
                            <li>кастрюля с крышкой 18 х 10 см - 2,5 л</li>
                            <li>кастрюля с крышкой 20 х 12 см - 3,7 л</li>
                            <li>кастрюля с крышкой 24 х 14 см - 6,3 л</li>
                            <li>нержавеющая сталь марки 18/10</li>
                            <li>толщина стенок 0,8 мм</li>
                            <li>толщина дна 10 мм</li>
                            <li>крышки изготовлены из жаропрочного стекла</li>
                            <li>многослойное теплоаккумулирующее дно с медной(5 см) и алюминиевой прослойками</li>
                            <li>эргономичные ненагревающиеся ручки</li>
                            <li>блестящая полировка</li>
                        </ul>
                    </div>
                    <div class="product_icons">
                        <img alt="Допускается использование металлических аксессуаров"  src="images/icons/icon1.png">
                        <img alt="В этом изделии используются экологически безопасные материалы"  src="images/icons/icon2.png">
                        <img alt="Сохраняет максимально возможное количество витаминов"  src="images/icons/icon3.png">
                        <img alt="Подходит для газовых плит"  src="images/icons/icon4.png">
                        <img alt="Подходит для электрических плит"  src="images/icons/icon5.png">
                        <img alt="Подходит для стеклокерамических плит"  src="images/icons/icon6.png">
                        <img alt="Подходит для индукционных плит" src="images/icons/icon7.png">
                        <img alt="Допускается мытье в посудомоечной машине"  src="images/icons/icon8.png">
                        <img alt="Сокращает время приготовления различных блюд"  src="images/icons/icon9.png">         
                    </div>
                </div>
            </div>
        </div>
        <div class="seen">
            <div class="wrapper">
                <div class="seen_title">вы смотрели</div>
                <ul class="bestsellers_list">
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <a href="#"><img src="images/data/1.jpg" alt=""></a>
                        </div>
                        <div class="bestsellers_item_title">1544 НАБОР ПОСУДЫ TRIUMPH 8 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">6 899 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <a href="#"><img src="images/data/2.jpg" alt=""></a>
                        </div>
                        <div class="bestsellers_item_title">1538 НАБОР ПОСУДЫ CANTATA 10 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">15 425 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <a href="#"><img src="images/data/3.jpg" alt=""></a>
                        </div>
                        <div class="bestsellers_item_title">1542 НАБОР ПОСУДЫ TRIUMPH 10 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">8 999 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>

                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <a href="#"><img src="images/data/1.jpg" alt=""></a>
                        </div>
                        <div class="bestsellers_item_title">1544 НАБОР ПОСУДЫ TRIUMPH 8 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">6 899 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <a href="#"><img src="images/data/2.jpg" alt=""></a>
                        </div>
                        <div class="bestsellers_item_title">1538 НАБОР ПОСУДЫ CANTATA 10 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">15 425 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <a href="#"><img src="images/data/3.jpg" alt=""></a>
                        </div>
                        <div class="bestsellers_item_title">1542 НАБОР ПОСУДЫ TRIUMPH 10 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">8 999 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <a href="#"><img src="images/data/1.jpg" alt=""></a>
                        </div>
                        <div class="bestsellers_item_title">1544 НАБОР ПОСУДЫ TRIUMPH 8 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">6 899 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <a href="#"><img src="images/data/2.jpg" alt=""></a>
                        </div>
                        <div class="bestsellers_item_title">1538 НАБОР ПОСУДЫ CANTATA 10 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">15 425 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <a href="#"><img src="images/data/3.jpg" alt=""></a>
                        </div>
                        <div class="bestsellers_item_title">1542 НАБОР ПОСУДЫ TRIUMPH 10 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">8 999 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>

                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <a href="#"><img src="images/data/1.jpg" alt=""></a>
                        </div>
                        <div class="bestsellers_item_title">1544 НАБОР ПОСУДЫ TRIUMPH 8 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">6 899 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                    <li class="bestsellers_item">
                        <div class="bestsellers_item_image">
                            <a href="#"><img src="images/data/2.jpg" alt=""></a>
                        </div>
                        <div class="bestsellers_item_title">1538 НАБОР ПОСУДЫ CANTATA 10 ПРЕДМЕТОВ</div>
                        <div class="bestsellers_bottom">
                            <div class="bestsellers_price">15 425 <span>руб</span></div>
                            <a href="#" class="bestsellers_button">купить </a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>

        <div class="wrapper">
            <div class="reviews_block clearfix">
                <div class="reviews_left">
                    <div class="reviews_title">
                        Отзывы
                        <div class="reviews_title_count">27</div>
                    </div>
                    <div class="reviews_list">
                        <div class="reviews_list_item">
                            <div class="reviews_list_item_info">
                                <div class="reviews_list_item_name">Ирина Кузнецова</div>
                                <div class="reviews_list_item_date">30 мая 2014</div>
                            </div>
                            <div class="reviews_list_item_text">
                                Очень порадовала кастрюлька. Быстро нагревает содержимое.
                                 Есть отверстия для слива воды. Разметка по литражу. 
                                 Очень удобная крышка. Всем довольна.<br/>Минусы: Все 
                                 таки ручки кастрюльки нагреваются и желательно 
                                 пользоваться прихваткой. Но, это мелочь по сравнению с 
                                 остальным.
                            </div>
                        </div>
                        <div class="reviews_list_item">
                            <div class="reviews_list_item_info">
                                <div class="reviews_list_item_name">Зельский Александр</div>
                                <div class="reviews_list_item_date">24 марта 2014</div>
                            </div>
                            <div class="reviews_list_item_text">
                                Купили эту кастрюлю,опробовали и тут-же взяли остальные 
                                размеры.Для покупателей рекомендую брать весь набор 
                                целиком-3 кастрюли и ковшик.Все максимально удобное и 
                                получается недорого.Короче-жена дико довольна!
                            </div>
                        </div>
                        <div class="reviews_list_item">
                            <div class="reviews_list_item_info">
                                <div class="reviews_list_item_name">Светлана</div>
                                <div class="reviews_list_item_date">22 марта 2014</div>
                            </div>
                            <div class="reviews_list_item_text">
                                Покупала после года использования кастрюли этой же серии,
                                но другого размера. Очень довольна качеством.
                            </div>
                        </div>
                        <div class="reviews_list_item">
                            <div class="reviews_list_item_info">
                                <div class="reviews_list_item_name">Владислав Кривовязюк</div>
                                <div class="reviews_list_item_date">14 марта 2014</div>
                            </div>
                            <div class="reviews_list_item_text">Советую к покупке</div>
                        </div>
                        <div class="reviews_list_item">
                            <div class="reviews_list_item_info">
                                <div class="reviews_list_item_name">Юлия</div>
                                <div class="reviews_list_item_date">16 ноября 2013</div>
                            </div>
                            <div class="reviews_list_item_text">От кастрюльки в восторге!</div>
                        </div>
                        <div class="reviews_list_item">
                            <div class="reviews_list_item_info">
                                <div class="reviews_list_item_name">Колесник Виктор</div>
                                <div class="reviews_list_item_date">14 сентября 2013</div>
                            </div>
                            <div class="reviews_list_item_text">
                                Качество супер. Спасибо магазину за качественное 
                                обслуживание и быструю доставку!
                            </div>
                        </div>
                        <div class="reviews_list_item">
                            <div class="reviews_list_item_info">
                                <div class="reviews_list_item_name">Зельский Александр</div>
                                <div class="reviews_list_item_date">24 марта 2014</div>
                            </div>
                            <div class="reviews_list_item_text">
                                Купили эту кастрюлю,опробовали и тут-же взяли остальные 
                                размеры.Для покупателей рекомендую брать весь набор 
                                целиком-3 кастрюли и ковшик.Все максимально удобное и 
                                получается недорого.Короче-жена дико довольна!
                            </div>
                        </div>
                        <div class="reviews_list_item">
                            <div class="reviews_list_item_info">
                                <div class="reviews_list_item_name">Светлана</div>
                                <div class="reviews_list_item_date">22 марта 2014</div>
                            </div>
                            <div class="reviews_list_item_text">
                                Покупала после года использования кастрюли этой же серии, 
                                но другого размера. Очень довольна качеством.
                            </div>
                        </div>
                        <div class="reviews_list_item">
                            <div class="reviews_list_item_info">
                                <div class="reviews_list_item_name">Владислав Кривовязюк</div>
                                <div class="reviews_list_item_date">14 марта 2014</div>
                            </div>
                            <div class="reviews_list_item_text">Советую к покупке</div>
                        </div>
                        <div class="reviews_list_item">
                            <div class="reviews_list_item_info">
                                <div class="reviews_list_item_name">Юлия</div>
                                <div class="reviews_list_item_date">16 ноября 2013</div>
                            </div>
                            <div class="reviews_list_item_text">От кастрюльки в восторге!</div>
                        </div>
                    </div>
                    <ul class="pagination">
                        <li class="first"><a href="#">«</a></li>
                        <li class="active"><a href="#">1</a></li>
                        <li><a href="#">2</a></li>
                        <li><a href="#">3</a></li>
                        <li><a href="#">4</a></li>
                        <li>...</li>
                        <li><a href="#">15</a></li>
                        <li class="last"><a href="#">»</a></li>
                    </ul>
                </div>
                <div class="reviews_right">
                    <div class="reviews_form">
                        <form>
                            <div class="reviews_form_title">Добавить отзыв</div>
                            <div class="reviews_form_label">Ваше имя</div>
                            <div class="reviews_form_input">
                                <input type="text">
                            </div>
                            <div class="reviews_form_label">Электронная почта</div>
                            <div class="reviews_form_input">
                                <input type="text">
                            </div>
                            <div class="reviews_form_label">Ваш отзыв</div>
                            <div class="reviews_form_input">
                                <textarea></textarea>
                            </div>
                            <div class="review_form_submit">
                                <input type="submit" value="Добавить отзыв">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
 	<footer>
        <div class="footer_top">    
            <div class="wrapper clearfix">                            
                <div class="header_phone_block">
                    <div class="header_phone_city">Москва:</div>
                    <div class="header_phone">+7 (495) <span>567-66-00</span></div>
                </div>

                <div class="header_phone_block">
                    <div class="header_phone_city">Санкт-перетбург:</div>
                    <div class="header_phone">+7 (911) <span>567-66-00</span></div>
                </div>
                <div class="header_time">
                    <span>ПН.-СБ.:</span> с 9:00 до 21:00<br/><span>ВС.:</span> выходной
                </div>
                <div class="adress">                       
                    Москва, ул. Пушкина 15, оф. 201<br/>
                    <a href="#">info@gipfel-group.ru</a>
                </div>
            </div>
        </div>
        <div class="wrapper">
            <div class="footer_bottom clearfix">                
                <div class="footer_copyright">2014 © GIPFEL-Group</div>
                <ul class="footer_menu">
                    <li class="footer_menu_item"><a href="#">Каталог продукции</a></li>
                    <li class="footer_menu_item"><a href="#">О компании </a></li>
                    <li class="footer_menu_item"><a href="#">Новости </a></li>
                    <li class="footer_menu_item"><a href="#">Статьи </a></li>
                    <li class="footer_menu_item"><a href="#">Новинки </a></li>
                    <li class="footer_menu_item"><a href="#">Акции </a></li>
                    <li class="footer_menu_item"><a href="#">Доставка и оплата </a></li>
                    <li class="footer_menu_item"><a href="#">гарантия </a></li>
                    <li class="footer_menu_item"><a href="#">Отзывы </a></li>
                    <li class="footer_menu_item"><a href="#">Контакты</a></li>
                </ul>
            </div>
        </div> 
     </footer>

     <a href="#" class="gotop"></a>
</body>
</html>